/* Global Styles */

:root {
  --primary-color: #ffffff; /* Default primary color */
  --secondary-color: #000000; /* Default secondary color */
}

body,
* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

/* Form Styles */
.LoginForm,
.SignupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the container */
}

.LoginForm .form-container,
.SignupForm .form-container,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #000; /* Add a border around the form container */
  background-color: #f3f2f280; /* Optional: add a background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  max-width: 400px; /* Set a max-width for the form container */
  width: 100%;
}

.LoginForm *,
.SignupForm * {
  font-size: 20pt;
  padding: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%; /* Full width of the form */
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #000; /* Bottom border only */
  background-color: transparent; /* Transparent background */
  font-size: 18px;
  outline: none; /* Remove the default outline on focus */
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border-bottom-color: #000; /* Keep the bottom border color on focus */
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
  color: #999; /* Style placeholder text */
}

form button[type="submit"],
.LoginForm button[type="submit"],
.SignupForm button[type="submit"],
.LoginForm h3 button,
.SignupForm h3 button {
  width: 80%;
  padding: 10px;
  margin: 20px auto; /* Center horizontally within the form */
  border: 2px solid #000;
  background-color: transparent;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  display: block;
  text-align: center;
}

form button[type="submit"]:hover,
.LoginForm button[type="submit"]:hover,
.SignupForm button[type="submit"]:hover {
  background-color: #f3f2f280; /* Subtle background on hover */
}

form {
  outline: none;
}

/* Home Page Styles */
.TopTitle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Fontdiner Swanky", "Times New Roman", Times, serif;
  font-size: 54pt;
  padding: 10px;
  z-index: 1; /* Lower z-index to push it to the back */
}

.Home {
  gap: 20px;
  margin-top: 30px; /* Space from the top */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Ensure Home content is above TopTitle */
  z-index: 2; /* Higher z-index to keep it in front of TopTitle */
}

.TopButtons {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column; /* Stack buttons on top of each other */
  gap: 10px; /* Space between buttons */
}

.TopButtons button {
  font-size: 18px; /* Increase button text size */
  padding: 15px 25px; /* Increase button size */
  border-radius: 8px; /* Rounded corners */
  background-color: var(--secondary-color); /* Button background color */
  color: #111; /* Button text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.TopButtons button:hover {
  color: #333; /* Darker shade on hover */
}

/* Add Item Styles */
.AddFirstItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Match the width of MutableItem */
  padding: 20px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.add-item-button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.add-item-button:hover {
  background-color: #bdffcd;
}

.AddFirstItem p {
  margin-top: 10px;
  font-size: 16px;
  color: #312d2dc9;
}

.AddItemButton {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 10px;
  right: 10px;
  transition: background-color 0.3s ease;
}

.AddItemButton:hover {
  background-color: #222;
}

.AddItemButton span {
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.TopTitleContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.TopTitleContainer h1 {
  font-size: 40pt;
}

.form-container > form {
  border: none;
  box-shadow: none;
  background: none;
}

.top-left-items {
  position: fixed; /* Fix position relative to the viewport */
  top: 20px; /* Distance from the top of the viewport */
  left: 20px; /* Distance from the left of the viewport */
  display: flex; /* Use flexbox to align child elements */
  flex-direction: column; /* Stack elements vertically */
  gap: 10px; /* Space between items */
  align-items: flex-start; /* Align items to the left */
  z-index: 3; /* Ensure it is above other content */
  background-color: #ffffffb0; /* Optional: add background color with some transparency */
  padding: 10px; /* Optional: add padding for visual spacing */
  border-radius: 8px; /* Optional: round the corners */
}

/* Add New Item Form Styles */
.AddNewItemForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width of the container */
  padding: 20px;
  border: 2px solid #333; /* Use secondary color for border */
  background-color: var(--primary-color); /* Use primary color for background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  max-width: 400px; /* Set a max-width for the form container */
  margin: 20px auto; /* Center horizontally */
}

.AddNewItemForm * {
  font-size: 20pt; /* Font size for all children */
  padding: 10px;
}

.AddNewItemForm input[type="text"],
.AddNewItemForm input[type="password"],
.AddNewItemForm input[type="file"],
.AddNewItemForm textarea {
  width: 100%; /* Full width of the form */
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333; /* Bottom border using secondary color */
  background-color: transparent; /* Transparent background */
  font-size: 18px;
  outline: none; /* Remove the default outline on focus */
}

.AddNewItemForm input[type="text"]:focus,
.AddNewItemForm input[type="password"]:focus,
.AddNewItemForm input[type="file"]:focus,
.AddNewItemForm textarea:focus {
  border-bottom-color: #333; /* Keep the bottom border color on focus */
}

.AddNewItemForm input[type="text"]::placeholder,
.AddNewItemForm input[type="password"]::placeholder,
.AddNewItemForm textarea::placeholder {
  color: #333; /* Style placeholder text */
}

.AddNewItemForm button[type="submit"] {
  display: block;
  margin-top: 10px;
  width: 100%; /* Make buttons full-width */
  display: block;
  margin-top: 10px;
  width: 100%; /* Make buttons full-width */
  font-size: 1.1em; /* Increase font size for larger text */
  background-color: var(
    --secondary-color
  ); /* Use secondary color for background */
  color: var(#333); /* Ensure text color contrasts with the button */
  padding: 8px 16px; /* Add padding for better appearance */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.AddNewItemForm button[type="submit"]:hover {
  background-color: #333; /* Subtle background on hover */
}

.AddNewItemForm form {
  background: none;
  border: none;
  box-shadow: none;
}

.top-items-container {
  display: flex;
  flex-direction: column;
}

/* Search Bar Styles */
.SearchBar {
  display: flex; /* To ensure the input stretches to full width */
  width: 100%; /* Full width */
  max-width: 400px; /* Optional: Set a max width to prevent stretching too much */
  margin: 10px auto; /* Center horizontally with some margin */
  background-color: var(--primary-color); /* Use the primary color */
  padding: 10px; /* Add some padding */
  border: 2px solid #333; /* Add a border with the secondary color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

.SearchBar input {
  width: 100%; /* Full width */
  padding: 8px; /* Padding inside the input */
  border: none; /* No border */
  background-color: transparent; /* Transparent to match parent background */
  outline: none; /* Remove default outline */
  font-size: 16px; /* Adjust font size */
}

.Filters {
  display: flex; /* Ensure it takes full width */
  width: 100%; /* Full width */
  max-width: 400px; /* Optional: Set a max width to keep it consistent with SearchBar */
  margin: 10px auto; /* Center horizontally with some margin */
  background-color: var(--primary-color); /* Use the primary color */
  padding: 10px; /* Add some padding */
  border: 2px solid #333; /* Add a border with the secondary color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

.Filters select {
  width: 100%; /* Full width for the dropdown */
  padding: 8px; /* Padding inside the select */
  border: none; /* No border */
  background-color: transparent; /* Transparent to match parent background */
  outline: none; /* Remove default outline */
  font-size: 16px; /* Adjust font size */
}

.top-items-container {
  display: flex;
  flex-direction: column; /* Keep elements stacked */
  align-items: center; /* Center-align them */
  gap: 20px; /* Space between elements */
}
